
.sectionOne{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 40px;
}
.item>img{
  animation: move 2s ease-in-out infinite;
}
@keyframes move  {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
  
.byMp44{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: -45px;
  opacity: 0; /* Cache la section au début */
    visibility: hidden; /* Assure qu'elle ne prend pas de place */
    transition: opacity 1s ease-in-out, visibility 0s 1s;
}
.byMp44.show{
  opacity: 1; /* La section devient visible */
    visibility: visible; /* La rend visible après l'animation */
    transition: opacity 1s ease-in-out, visibility 0s;
}

.logoHold {
    position: relative;
    top: 600px;
    left: 15%;
    transform: translateX(-50%) scale(3);
  }
 
  /*
  .logoAnimate {
    position: relative;
    top: 20px;
    left: 15%;
    transform: translateX(-50%) scale(1);
    transition: all 2s ease-in-out;
  }    */


  .logoAnimate {
    position: relative;
    top: 1150px;
    left: 15%;
    transform: translateX(-50%) scale(3);
    transition: all 2s ease-in-out;
    animation: disappear 1s ease-out forwards;
  } 

@keyframes disappear {
    0% { opacity: 1; }
    95%{opacity: 1;}
    100% { opacity: 0; }
  
}

   /* 
  
  .logoAnimate {
    position: relative;
    top: 20px;
    left: -500px;
    transform: translateX(-50%) scale(1);
    transition: all 2s ease-in-out;
  }
  
  
  
  */
 


.sectionTwo{
  margin-top: -100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0; /* Cache la section au début */
    visibility: hidden; /* Assure qu'elle ne prend pas de place */
    transition: opacity 1s ease-in-out, visibility 0s 1s;
}

.show {
    opacity: 1; /* La section devient visible */
    visibility: visible; /* La rend visible après l'animation */
    transition: opacity 1s ease-in-out, visibility 0s; /* La visibilité est changée immédiatement quand l'opacity change */
}


.elements{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "one two "
    "three four ";
    grid-gap: 70px;
}
.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.four{
  grid-area: four;
}
.five{
  grid-area: five;
}
.six{
  grid-area: six;
}
.seven{
  grid-area: seven;
}
.eight{
  grid-area: eight;
}
.nine{
  grid-area: nine;
}

#Main{
  background-color: #2F63F1;
    height: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


h1{
    font-family: 'Inter', 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    filter: drop-shadow(0px 0px 0px #809197);
    text-align: center;
}
  








a{
    text-decoration: none;
}

.item {
    border-radius: 15px;
    color: white;
    height: 380px;
    width: 380px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 13px 5px rgba(0, 0, 0, 0.3));
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden;

    padding-bottom: 50px;
  }
  .seven>img{
    position: relative;
    top: 50px;
  }
  .eight>img{
    position: relative;
    top: 15px;
  }
  .one>img{
    position: relative;
    top: 10px;
  }
  .four>img,.five>img,.six>img{
    position: relative;
    top: 10px;
  }
  .four>h1,.five>h1,.six>h1{
    position: relative;
    top: 20px;
  }
  .one>h1,.two>h1,.three>h1{
    position: relative;
    top: 20px;
  }
  .one>img,.two>img{
    position: relative;
    top: 30px;
  }
  .three>img{
    position: relative;
    top: 45px;
  }

  .item::before{
    content: "";
    width: 150%;
    height: 70%;
    border-radius: 50%;
    background-color: #9AAFE8;
    position: absolute;
    top: 150px;
    z-index: -2;
  }
  
  /* Reflet miroir inversé */
  .item::after {
    content: attr(data-label);
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(-1);
    opacity: 0.1;
    filter: blur(2px);
    pointer-events: none;
    color: #809197;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  }

  button {
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    height: 65px;
    width: 250px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    position: relative; /* Nécessaire pour ::after */
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: visible; /* Assure que l'animation en dessous soit visible */
  }
  
  button::after {
    content: "";
    position: absolute;
    bottom: -6px; /* Position juste sous le bouton */
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    animation: shrinkLine 2s ease-in-out infinite;
    border-radius: 10px;
  }
  
  @keyframes shrinkLine {
    0% {
      width: 100%;
      left: 0;
    }
    50% {
      width: 0%;
      left: 50%;
    }
    100% {
      width: 100%;
      left: 0;
    }
  }

  
  
  


  
  p{
    color: white;
    font-weight: bold;
    font-family: 'Inter', 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;

  }
  


  @media (max-width : 1005px) and (min-width: 650px) {
    .elements{
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "one two"
        "three four"
        "five six"
        "seven eight"
        "nine nine";
        grid-gap: 70px;
    }

    .sectionTwo{
      margin-top: -40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0; /* Cache la section au début */
        visibility: hidden; /* Assure qu'elle ne prend pas de place */
        transition: opacity 1s ease-in-out, visibility 0s 1s;
    }
    
    .nine{
      position: relative;
      left: 60%;
    }
    
    #Main{
      background: linear-gradient(180deg, #2B61F3, #6485dd);
        height: 2500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }

  @media (max-width : 650px) {

    

    .elements{
      display: grid;
      grid-template-rows: repeat(9, 1fr);
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine";
        grid-gap: 70px;
    }

    .sectionTwo{
      margin-top: -140px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0; /* Cache la section au début */
        visibility: hidden; /* Assure qu'elle ne prend pas de place */
        transition: opacity 1s ease-in-out, visibility 0s 1s;
    }

    #Main{
      background: linear-gradient(180deg, #2B61F3, #6485dd);
        height: 4100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


  }











 
  
  
  




  .outerbox1{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    animation: disappear 4s ease-out forwards;
  }
  .outerbox2{
    position: absolute;
    left: 5%;
    top: 7%;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
  }

  .img2{
    position: absolute;
    left: -12%;
    top: 5%;
    transform: scale(0.3);
  }

  .goUp{
    position: absolute;
    left: -12%;
    top: 0%;
    transition: 1s;
  }